@use "../../variables" as *;

.a-button {

	white-space: nowrap;

	color: $baseColor;
	padding: 5px 10px;
	background-color: $secondaryColor;
	border-radius: 2px;

	&.-emphasis {
		font-weight: 900;
		font-size: 1.1em;
	}

	&.-accent {
		background-color: $accentColor;
	}
}

.a-button:hover {
	box-shadow: inset 0px 0px 0px 2px $accentColor;
	box-sizing: border-box;

	&.-accent {
		box-shadow: inset 0px 0px 0px 2px $baseColor;
	}
}

.a-button:active {
	box-shadow: inset 0px 0px 0px 2px $baseColor;
	box-sizing: border-box;

	&.-accent {
		box-shadow: inset 0px 0px 0px 2px $secondaryColor;
	}
}