.o-popup {
	max-height: 80vh;
	min-height: fit-content;
	overflow: auto;
	width: 300px;
	padding: 5px 5px 10px;

	&__title {
		font-weight: 900;
		font-size: 1.5em;
		text-align: center;
	}

	&__closeButtonContainer:last-child {
		margin: -28px auto 0 0;
		width: fit-content;
	}
}
