.o-addItemForm {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 12px 12px;
    align-items: center;

    &__statusContainer {
        width: fit-content;
        margin: 10px auto;;
    }

    &__imageUploader {
        grid-column: 1/3;
    }
}