$smallScreenWidth: 500px;

$smallItemWidth: 90vw;
$mediumItemWidth: 500px;

$smallColumnGap: 10px;
$mediumColumnGap: 20px;

$smallImgWidth: 100px;
$mediumImgWidth: 200px;

$accentColor: #be1600;
$baseColor: whitesmoke;
$secondaryColor: #868686;

$backgroundColor: #000000;
$secondaryBackgroundColor: #111111;
