.m-item {
	width: 300px;
	border-color: #4e4e4e;
	border-style: solid;
	border-radius: 8px;
	padding: 5px;

	display: flex;
	justify-content: space-between;

	&__info {
		width: 60%;
	}

	&__name {
		font-weight: 900;
	}
}