@import "../../../variables.scss";

.m-item {
	width: $smallItemWidth;
	border-color: $baseColor;
	border-style: none none groove none;
	border-width: 1px;
	padding: 0 0 15px;

	display: flex;
	justify-content: space-between;

	&__info {
		margin-left: 5px;
		display: grid;
		grid-template-rows: 1.9em 2em;
		column-gap: 10px;
		grid-template-columns: auto auto;
		width: 100%;
	}

	&__control {
		grid-column: 1/3;

		&__button {
			display: block;
			margin: 10px auto 0;
			white-space: nowrap;
			box-sizing: border-box;
			max-width: 100%;
			max-height: 100%;

			border: none;
			color: $baseColor;
			font-family: inherit;
			font-weight: 800;
			padding: 5px 10px;
			cursor: pointer;
			background-color: $accentColor;
			border-radius: 2px;
		}
		&__button:hover {
			background-color: #be00ae;
		}
	}

	&__link {
		margin-left: 5px;
		grid-column: 1/1;
		max-width: 100px;
	}

	&__name {
		font-weight: 900;
		font-size: 1.5em;
		white-space: nowrap;
		grid-column: 1/1;
	}

	&__description {
		grid-column: 1/1;
	}

	&__price {
		font-size: 0.9em;
		margin-left: 5px;
		color:$secondaryColor;
		grid-column: 1/1;
	}

	&__img {
		width: 100px;
		border-radius: 8px;
		grid-column: 2/2;
		grid-row: 2/6;
	}
}

@media (min-width: $smallScreenWidth) {
	.m-item {
		width: $mediumItemWidth;
	}
}