.m-item {
	width: 300px;
	border-color: #4e4e4e;
	border-style: solid;
	border-radius: 8px;
	padding: 5px;

	display: flex;
	justify-content: space-between;

	&__info {
		width: 60%;
		margin-left: 5px;
	}

	&__url {
		margin-left: 5px;
	}

	&__name {
		font-weight: 900;
	}

	&__price {
		font-size: 0.9em;
		margin-left: 5px;
		color:#4e4e4e;
	}

	&__img {
		border-radius: 8px;
	}
}