@use "../../variables.scss" as *;

.a-seeReservations {
	&__buttonContainer {
		margin: 0 auto 10px;
		width: fit-content;
	}

	&__emailForm {
	    display: grid;
	    grid-template-columns: 1fr 2fr;
	    grid-gap: 8px 12px;
	    align-items: center;
	}
}